.body
{
    margin: 0;
    padding: 0;
    background-color: #0b1f5d;
    font-family:"Montserrat", sans-serif;
}

.grid-container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 0.2fr 3fr;
     grid-template-areas: 
      "header header header"
      "main main main";
     height: 100vh;
}

  /*-------------- HEADER -------------- */

.header{
    grid-area: header;
    height: 70px;
    background-color: rgb(31, 34, 47);
    display: flex;
    justify-content: space-between;
    padding:  0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgb(255, 255, 255);

}








/* ------------------ MAIN ------------------ */
.main-container{

    grid-area: main;
    background-color: #0b1f5d;
    font-family: "Montserrat", sans-serif;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);

}

.main-title{
    display: flex;
    justify-content: space-between;
}

.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 15px;
}

.card:first-child{
    background-color: #2962ff;
}

.card:nth-child(2){
    background-color: rgb(23, 23, 178);
}

.card:nth-child(3){
    background-color: rgb(161, 161, 174);
}

.card:nth-child(4){
    background-color: rgb(68, 68, 73);
}

.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > .material-icons-outlined{
    font-size:45px;

}


.card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}

.card1:first-child{
    background-color: #2359fe;
}

.card1:nth-child(2){
    background-color: rgb(106, 105, 105);
}

.card1:nth-child(3){
    background-color: rgb(63, 235, 251);
}

.card1:nth-child(4){
    background-color: rgb(153, 153, 188);
}

.card-inner1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.charts-card{
    background-color: #717a89;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -3px rgba(187, 191, 255, 0.35);

}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
