* {
    margin : 0;
    padding : 0;
    font-family: "poppins", sans-serif;
}

.banner {
    width: 100%;
    height: 100%;
    background-color: #041656;
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logohead {

    width:120px;
    height: auto;
    cursor : pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height : 3px;
    width: 0;
    background: #266ca9;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #041d56, #0c011c);
    color: #fff;
    padding: 40px 0 20px;
    /*border-top-left-radius: 125px;*/
    font-size: 13px;
    line-height: 20px;
}

.row {
    width :85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2) , .col:nth-child(3) {
    flex-basis: 15%;
}

.logofoot {
    width: 200px;
    margin-bottom: 30px;

}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.links {
    list-style: none;
    margin-bottom: 12px;
}

.links a {
    text-decoration: none;
    color: #fff;
}

.social-icons .bx {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 3s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}

@media (max-width : 700px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }
    
    .col:nth-child(2) , .col:nth-child(3) {
        flex-basis: 100%;
    }
}


h3{
    margin-bottom: 10px;
    text-align:center;
    font-size:25px;
    margin:0;
    padding-top:10px;
    color: #fff;
}
.gallery{
    border: 3px solid #041d56;
    display:flex;
    flex-wrap:wrap;
    width:90%;
    justify-content:center;
    align-items:center;
    margin:50px 0;
    margin-left: 60px;
    margin-right: 30px;
}
.content{
    width:20%;
    height: 200px;
    margin:15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius:20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow:0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #041d56;
    
}

.content h3, .content p {
    font-family: 'palatino';
}
.content:hover{
    box-shadow:0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: transition(0px, -8px);
}


.container1{
width: 90%;
height: 100%;
padding-top:15px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}
.container1 .card{
width:270px;
overflow: hidden;
text-align:center;
margin-bottom:15px;
border: 2px solid crimson;
border-radius: 15px;
box-shadow: 0 0 7px rgba(0, 0, 0.8);
}
.container1 .card .product-image{
width: 230px;
margin: 20px auto;

}
.container1 .card .product-image img{
width: 100%;
transition:0.4s;
cursor:pointer;
}
.container1 .card .product-image img:hover{
width: 100%;
transform:scale(1.1);

}

.container1 .card .product-info h4{
font-size: 18px;
padding: 0 25px;
margin-bottom: 10px;
cursor:pointer;
}


.box1{
    box-sizing: border-box;
    
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    height: 500px;
    }

.box1 input {
    display: inline-block;
    text-decoration: none;
    padding: 15px 40px;
    color: #fff;
    background-image: linear-gradient(#266ca9,#041d56);
    font-size: 20px;
    border-radius: 30px;
    font-family: 'palatino';
}

.main {
    background: url('../images/background.jpeg');
    background-size: cover;
}